pandas==0.23.4
numpy==1.15.1
tensorflow==1.13.0rc
jupyter==1.0.0    
jupyter-client==5.2.3    
jupyter-console==5.2.0    
jupyter-core==4.4.0
matplotlib==2.2.3
ipython==7.5.0    
ipython-genutils==0.2.0
